{% extends 'base.html.twig' %}

{% block title %}Hello AboutMeController!{% endblock %}

{% block body %}

    <div class="content-about">
        <div class="about-me">



            <div class="box-text">
                    <div class="desc-text">
                        <h3>About Me</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, excepturi distinctio? Molestiae, voluptatibus! Alias beatae nesciunt, unde recusandae libero, aut minima quo dolore voluptate earum deserunt tenetur delectus reiciendis, illum officia blanditiis inventore doloribus? Fugit ad autem doloribus earum accusantium, nihil nesciunt harum ullam consequatur sapiente cumque dolore soluta est modi quas possimus aliquid doloremque, at vero repellat quod rerum in! Sit corrupti nobis dicta fugit corporis, cumque exercitationem atque sint officia consectetur debitis vero soluta repudiandae, saepe facilis? Cum, asperiores? Facilis sapiente, dolores facere, magnam pariatur unde placeat ad praesentium iste deleniti eius necessitatibus ullam totam, possimus rem natus?</p>
                    </div>
            </div>
            <div class="background">
                <div class="background-img">
                    <img src="{{ asset('images/about.jpg')}}" alt="">
                </div>
            </div>

            

        </div>

        <div class="do">
            <div class="background">
                <div class="background-img">
                    <img src="{{ asset('images/do.png')}}" alt="">
                </div>
            </div>

            <div class="box-text">
                <div class="desc-text">
                    <h3>What I Do</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, excepturi distinctio? Molestiae, voluptatibus! Alias beatae nesciunt, unde recusandae libero, aut minima quo dolore voluptate earum deserunt tenetur delectus reiciendis, illum officia blanditiis inventore doloribus? Fugit ad autem doloribus earum accusantium, nihil nesciunt harum ullam consequatur sapiente cumque dolore soluta est modi quas possimus aliquid doloremque, at vero repellat quod rerum in! Sit corrupti nobis dicta fugit corporis, cumque exercitationem atque sint officia consectetur debitis vero soluta repudiandae, saepe facilis? Cum, asperiores? Facilis sapiente, dolores facere, magnam pariatur unde placeat ad praesentium iste deleniti eius necessitatibus ullam totam, possimus rem natus?</p>
                </div>
            </div>

        </div>

        <div class="did">

            <div class="box-text">
                <div class="desc-text">
                    <h3>What I Did</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, excepturi distinctio? Molestiae, voluptatibus! Alias beatae nesciunt, unde recusandae libero, aut minima quo dolore voluptate earum deserunt tenetur delectus reiciendis, illum officia blanditiis inventore doloribus? Fugit ad autem doloribus earum accusantium, nihil nesciunt harum ullam consequatur sapiente cumque dolore soluta est modi quas possimus aliquid doloremque, at vero repellat quod rerum in! Sit corrupti nobis dicta fugit corporis, cumque exercitationem atque sint officia consectetur debitis vero soluta repudiandae, saepe facilis? Cum, asperiores? Facilis sapiente, dolores facere, magnam pariatur unde placeat ad praesentium iste deleniti eius necessitatibus ullam totam, possimus rem natus?</p>
                </div>
            </div>

            <div class="background">
                <div class="background-img">
                    <img src="{{ asset('images/did.jpg')}}" alt="">
                </div>
            </div>

            
        </div>

        <div class="others">
            <div class="background">
                <div class="background-img">
                    <img src="{{ asset('images/other.jpg')}}" alt="">
                </div>
            </div>

            <div class="box-text">
                <div class="desc-text">
                    <h3>Others</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, excepturi distinctio? Molestiae, voluptatibus! Alias beatae nesciunt, unde recusandae libero, aut minima quo dolore voluptate earum deserunt tenetur delectus reiciendis, illum officia blanditiis inventore doloribus? Fugit ad autem doloribus earum accusantium, nihil nesciunt harum ullam consequatur sapiente cumque dolore soluta est modi quas possimus aliquid doloremque, at vero repellat quod rerum in! Sit corrupti nobis dicta fugit corporis, cumque exercitationem atque sint officia consectetur debitis vero soluta repudiandae, saepe facilis? Cum, asperiores? Facilis sapiente, dolores facere, magnam pariatur unde placeat ad praesentium iste deleniti eius necessitatibus ullam totam, possimus rem natus?</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
