@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: white;
    --primary-dark: grey;
    --warning: #ea2027;
    --success: #009432;
    --font-family: 'Playfair', sans-serif;
    --font-size-small: 15px; 
    --font-size-regular: 16px;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --box-shadow: 0 1px 5px 0 rgb(60 64 67 / 50%), 0 1px 2px 1px rgb(60 64 67 / 30%);

}

* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    color: black;
    font-family: var(--font-family);
}

p {
    font-family: var(--font-family);
}

/*test body pour voir la barre*/


/* SIDEBAR */

.sidebar {
    width: 17%;
    height: 100vh;
    background-color: white;
    border-right: 1px solid red;
    box-shadow: 10px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sidebar-logo img {
    margin-top: 2rem;
    width: 100%;
    height: auto;
}

.sidebar-title {
    position: absolute;
    top: 32%;
    width: 100%;
}

.sidebar-title h1 {
    
    font-family: var(--font-family);
    text-align: center;
    font-weight: lighter;
    font-size: 2.5rem;
}

.sidebar-title .top {
    margin-bottom: -2rem;
}

.sidebar-title h1 span {
    font-size: 4.5rem;
}

.sidebar-menu {
    position: absolute;
    top: 55%;
    width: 100%;
}

.menu {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu li {
    
    width: 100%;
    flex-grow: 1;
}

.menu li a {
    text-decoration: none;
    padding: 10px;
    color: #333;
    display: block;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: rgba(199, 167, 196, 0.658);
}

.container {
    margin-left: 250px;
    padding: 20px;
}

.copyright {
    margin-top: auto;
    padding: 20px;
    font-size: 12px;
    color: #333;
}

.copyright-text {
    text-align: right;
    margin-bottom: 2rem;
}

/* HOME  */

/* ABOUT ME  */

/* main content  */
.content-about {
    margin-left: 17%;
}


/* about me  */
.about-me {
    width: 100%;
    height: 60vh;

}

.about-me .background {
    width: 100%;
    height: 60vh;
    
}

.about-me .background .background-img {
    width: 100%;
    height: 60vh;
}

.about-me .background .background-img img {
    width: 100%;
    height: 60vh;
    position: relative;
    top: -100%;
    z-index: -1;
    object-fit: cover;
    object-position: top;
    opacity: .7;
}

/* .about-me .background .background-img img::before {
    content: '';
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(50deg, white, rgba(255, 255, 255, 0.1));
    mix-blend-mode: multiply;
    z-index: 2;
} */

.about-me .box-text {
    width: 50%;
    height: 60vh;
    /* background-color: white; */
    background: linear-gradient(80deg, rgba(255, 255 ,255, 1), rgba(255,255,255, 0));
    /* opacity: .8; */
}

.about-me .box-text .desc-text {
    padding: 6rem 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* do  */
.do {
    width: 100%;
    height: 60vh;
}


.do .background {
    width: 100%;
    height: 60vh;
}

.do .background .background-img { 
    width: 100%;
    height: 60vh;
}

.do .background .background-img img {
    width: 100%;
    height: 60vh;
    position: relative;
    z-index: -1;
    object-fit: cover;
    object-position: top;
    opacity: .7;
}

.do .box-text {
    position: relative;
    left: 50%;
    top: -60vh;
    width: 50%;
    height: 60vh;
    /* background-color: white; */
    background: linear-gradient(270deg, rgba(255, 255 ,255, 1), rgba(255,255,255, 0));
    /* opacity: .8; */

}

.do .box-text .desc-text {
    padding: 6rem 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* did  */

.did {
    width: 100%;
    height: 60vh;
}

.did .background {
    width: 100%;
    height: 60vh;
}

.did .background .background-img { 
    width: 100%;
    height: 60vh;
}

.did .background .background-img img {
    width: 100%;
    height: 60vh;
    position: relative;
    top: -60vh;
    z-index: -1;
    object-fit: cover;
    object-position: top;
    opacity: .7;
}

.did .box-text {
    position: relative;
    width: 50%;
    height: 60vh;
    /* background-color: white; */
    background: linear-gradient(80deg, rgba(255, 255 ,255, 1), rgba(255,255,255, 0));
    /* opacity: .8; */

}

.did .box-text .desc-text {
    padding: 6rem 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* others  */
.others {
    width: 100%;
    height: 60vh;
}

.others .background {
    width: 100%;
    height: 60vh;
}

.others .background .background-img { 
    width: 100%;
    height: 60vh;
}

.others .background .background-img img {
    width: 100%;
    height: 60vh;
    position: relative;
    z-index: -1;
    object-fit: cover;
    object-position: top;
    opacity: .7;
}

.others .box-text {
    position: relative;
    left: 50%;
    top: -60vh;
    width: 50%;
    height: 60vh;
    /* background-color: white; */
    background: linear-gradient(270deg, rgba(255, 255 ,255, 1), rgba(255,255,255, 0));
    /* opacity: .8; */

}

.others .box-text .desc-text {
    padding: 6rem 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ART GALLERY */

/* CONTACT  */

/* SHOP */